* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Fira Mono", monospace;
  line-height: 2rem;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
  background: rgb(64, 145, 141);
}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 75px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
}

.header-container {
  padding: 270px;
  background: rgb(64, 145, 141);
}

.header-text {
  color: white;
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 275px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: fadein 6s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /*Opera */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 1.4rem;
  margin: 0 0 0.75rem 0;
}

p {
  font-size: 0.9rem;
}

/* Pattern styles */
.container {
  display: flex;
}

.about-me {
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60%;
  padding: 6rem;
}

.left-half-a {
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  padding: 8rem 6rem 0rem 7rem;
  height: 510px;
}

.diagram {
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 45%;
  padding: 3rem;
}

.diagram-text {
  flex: 1;
  padding: 5rem 5rem 1rem 5rem;
}

.right-half-a {
  flex: 1;
  padding: 0rem 6rem 0rem 0rem;
}

.left-half-b {
  flex: 1;
  padding: 0rem 0rem 0rem 6rem;
}

.right-half-b {
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  padding: 8rem 7rem 7rem 7rem;
  height: 510px;
}

.button {
  padding: 13px 28px;
  text-align: center;
  font-size: 13px;
  margin: 4px 2px;
  width: auto;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  border: 1px solid #555555;
}

.button:hover {
  background-color: #555555;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.portfolio-image {
  max-width: 100%;
  width: 700px;
  border-radius: 10px;
  cursor: pointer;
}

/* Icons */

ul.major-icons {
  list-style: none;
  padding-left: 8rem;
}

ul.major-icons li {
  display: inline-block;
  padding: 2.5em;
  text-align: center;
}

ul.major-icons li .icon {
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255);
  display: inline-block;
  height: 8em;
  line-height: 8em;
  margin: 0;
  padding: 30px;
  text-align: center;
  width: 8em;
}

.icon-container {
  margin: 0 auto;
  max-width: calc(100% - 4em);
  width: 60em;
}
.main.style2 {
  color: rgba(255, 255, 255);
  background-attachment: fixed, fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(./images/header.jpg);
  background-size: auto, cover;
  margin-top: 50px;
}

@media screen and (max-width: 2600px) and (min-width: 1441px) {
  .portfolio-image {
    width: 1200px;
  }
  h1 {
    font-size: 44px;
  }
  p {
    font-size: 26px;
    line-height: 2.7rem;
  }
  .button {
    font-size: 22px;
  }
  .right-half-a {
    flex: 1;
    padding: 3rem 6rem 0rem 0rem;
  }

  .left-half-b {
    flex: 1;
    padding: 3rem 0rem 0rem 6rem;
  }
}

@media screen and (max-width: 1224px) {
  ul.major-icons li {
    padding: 0.7em;
  }
  .header-container {
    padding: 335px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .major-icons {
    display: none;
  }
  .about-me {
    flex-basis: 100%;
  }

  .container {
    flex-direction: column;
  }

  .left-half-a {
    width: 100%;
    order: 1;
    padding: 3rem 3rem 0rem 3rem;
    height: 300px;
  }

  .right-half-a {
    width: 100%;
    order: 2;
    padding: 0rem 3rem 0rem 3rem;
  }

  .left-half-b {
    width: 100%;
    order: 4;
    padding: 0rem 3rem 0rem 3rem;
  }

  .right-half-b {
    width: 100%;
    order: 3;
    padding: 3rem 3rem 0rem 3rem;
    height: 300px;
  }
  .header-container {
    width: 100%;
    padding: 350px 0 0 0;
  }
}

@media screen and (max-width: 414px) {
  .header a {
    float: none;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    padding: 16px;
  }

  .header-right {
    float: none;
  }

  .container {
    flex-direction: column;
  }

  .left-half-a {
    padding: 3rem 1rem 1rem 1rem;
    height: auto;
  }

  .right-half-a {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
  }

  .left-half-b {
    width: 100%;
    padding: 1rem 1rem 0rem 1rem;
  }

  .right-half-b {
    padding: 2rem 1rem 0rem 1rem;
    height: auto;
  }
  .header-container {
    width: 100%;
    padding: 210px 0 0 0;
  }

  .header-text {
    top: 160px;
    line-height: 1rem;
  }

  .portfolio-image {
    width: 400pxx;
  }
  h1 {
    font-size: 17px;
  }
  p {
    font-size: 12px;
    line-height: 1rem;
  }
  .button {
    font-size: 10px;
  }
  .about-me {
    padding: 2rem 1rem 0rem 1rem;
  }
}

@media screen and (max-width: 320px) {
  .header a {
    padding: 9px;
  }
}
